h1.card.py-2.text-capitalize {
	transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

h1.card.py-2.text-capitalize:hover {
	transform: scale3d(1.016, 1.016, 1);
}
